.icon-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 174, 3, 75%);

    .icon-mark {

    }
}

